body {
    background: #444;
    color: white;
}

.tab {
    display: none;
    padding: 5px 10px;
    height: calc(100% - 3em);
  }
  
  .tab.visible{
    display: block;
  }
  
  .tab .title {
    font-size: 2em;
  }
  
  .tabsButtons {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  
  .tabsButtons button {
      background: #2196F3;
      color: white;
      border: none;
      padding: 0.25em 0.5em;
      transition: 0.2s ease all;
  }
  
  .tabsButtons button:hover {
      background: #0c538c;
      color: white;
      cursor: pointer;
  }


.singleShotCode {
    background: #505050;
    padding: 5px 10px;
    color: white;
    position: relative;
    margin: 5px 0px;
}

.singleShotCode p {
    margin: 0;
    line-height: 1.75em;
    padding-left: 20px;
}

.singleShotCode p.description {
    margin: 0;
    line-height: 1.75em;
    padding-left: 20px;
}

.singleShotCode p .number {
    position: absolute;
    left: 10px;
    top: 5px;
    color: orange;
}






.rootModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}








.rootModal .inner {
    width: calc(100% - 6em);
    background: gray;
    padding: 3em;
    left: 0;
    position: absolute;
    top: calc(50% - 10em);
    text-align: center;
    overflow: hidden;
    border-top: 2vh solid #4e4e4e;
    border-bottom: 2vh solid #6b6b6b;
}

.rootModal .inner p {
    margin: 15px;
    z-index: 50;
    position: relative;
}

.rootModal .inner p.title {
    font-size: 25px;
    z-index: 50;
    margin-top: 0;
}

.rootModal button {
    background: orange;
    border: none;
    margin: 0 5px;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
    z-index: 50;
}

.rootModal button:hover {
    background: darkorange;
}

.rootModal .inner:before {content: "";width: 100vw;height: 100vw;display: block;background: grey;border: 5vw #6b6b6b solid;outline: 5vw #4e4e4e solid;position: absolute;transform: rotate(45deg);bottom: 10vw;left: -5vw;z-index: 10;}

.rootModal .inner:after {
    content: "";
    width: 100vw;
    height: 100vw;
    display: block;
    background: grey;
    border: 5vw #6b6b6b dashed;
    outline: 10vw #4e4e4e solid;
    position: absolute;
    transform: rotate(45deg);
    bottom: -10vw;
    left: -5vw;
    z-index: 0;
}