body {
    background: #444;
    color: white;
}

.tab {
    display: none;
    padding: 5px 10px;
    height: calc(100% - 3em);
  }
  
  .tab.visible{
    display: block;
  }
  
  .tab .title {
    font-size: 2em;
  }
  
  .tabsButtons {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  
  .tabsButtons button {
      background: #2196F3;
      color: white;
      border: none;
      padding: 0.25em 0.5em;
      transition: 0.2s ease all;
  }
  
  .tabsButtons button:hover {
      background: #0c538c;
      color: white;
      cursor: pointer;
  }


.singleShotCode {
}

.singleShotCode p {
    margin: 0;
    line-height: 1.45em;
}

.singleShotCode .description {
    margin: 0;
    line-height: 1.75em;
    padding: 0 1em;
    box-shadow: 0 10px 25px -10px #1e1e1e;
    /* border: 1px solid #444444; */
}

.singleShotCode p .number {
    color: orange;
}






.rootModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}








.rootModal .inner {
    width: calc(100% - 6em);
    background: gray;
    padding: 3em;
    left: 0;
    position: absolute;
    top: calc(50% - 10em);
    text-align: center;
    overflow: hidden;
    border-top: 2vh solid #4e4e4e;
    border-bottom: 2vh solid #6b6b6b;
}

.rootModal .inner p {
    margin: 15px;
    z-index: 50;
    position: relative;
}

.rootModal .inner p.title {
    font-size: 25px;
    z-index: 50;
    margin-top: 0;
}

.rootModal button {
    background: orange;
    border: none;
    margin: 0 5px;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
    z-index: 50;
}

.rootModal button:hover {
    background: darkorange;
}

.rootModal .inner:before {content: "";width: 100vw;height: 100vw;display: block;background: grey;border: 5vw #6b6b6b solid;outline: 5vw #4e4e4e solid;position: absolute;transform: rotate(45deg);bottom: 10vw;left: -5vw;z-index: 10;}

.rootModal .inner:after {
    content: "";
    width: 100vw;
    height: 100vw;
    display: block;
    background: grey;
    border: 5vw #6b6b6b dashed;
    outline: 10vw #4e4e4e solid;
    position: absolute;
    transform: rotate(45deg);
    bottom: -10vw;
    left: -5vw;
    z-index: 0;
}


.description p {
    padding: 0;
}

.singleShotCode .description h4, .singleShotCode .description p {
    margin: 5px 0;
    padding: .15em 1em;
}

.docs {
    display: flex;
    flex-direction: revert;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.singleShotCode > * {
    padding: .15em 1em;
}

.singleShotCode {
    border: 1px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px -10px #404040;
    background: #525252;
    max-width: 320px;
    width: 100%;
}

.singleShotCode .description {
    flex: 1;
    padding: 0;
}

.singleShotCode p {
    margin: 0;
    line-height: 1.45em;
}

.singleShotCode .description h4 {
    background: #444444;
    margin: 0;
    padding: 0.15em 1em;
    border-top: 1px solid #1d1d1d;
}

p.name {
    font-size: 1.1em;
    font-weight: bold;
    background: #343434;
    padding: 0.25em 1em;
    text-shadow: 0 0 5px black;
}